html
    header
        title Poser une question
        h1 Poser une question
    body
        form(method="POST")
            input(type="text", name="title", placeholder="Titre")
            textarea(type="text", name="content", placeholder="Poser votre question", rows=7, cols=50)
            button(type="submit") Envoyer