html
    header
        title Questions list
        link(rel="stylesheet", href="/css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        div
            if user
                a(href="/api/logout") Deconnexion
            else
                a(href="/login") Connexion
                a(href="/signup") Inscription

    body
        header

        div.question.questionmenu
            ul
                for question in questions
                    li
                        a.question(href="/detail/" + question.id) #{question.title}
                        p #{question.user.firstname}
                        p #{question.createdAt}


        if user
            a(href="/addquestion") Poser une question
        else
            p Veuillez vous connecter pour poster une question.