html
    header
        title Login
        h1 Se connecter
        link(rel="stylesheet", href="/css/style.css")
    body
        form(method="POST")
            input(type="text", name="username", placeholder="Email")
            input(type="pasword", name="password", placeholder="Mot de passe")
            button(type="submit") Connexion