
.questionmenu{
  display: block;
  padding: 50px 400px;

}

.questionmenu ul {
  background-color: white;
  margin-top: 50px;
  border: 0.5px solid lightgray;
  border-radius: 5px;

  li:last-child {
    border-bottom: none;
  }
  li {
    border-bottom: 1px solid #222;
    transform: translateX(-20px);
    list-style: none;
  }

  p{
    padding-left: 40px;
    margin: 0;
    font-size: 13px;
    color: #71787e;
  }
  p:last-child{
    margin-bottom: 20px;
  }

  a{
    display: block;
    color: green;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .resolved{
    p{
      display: block;
      text-align: center;
      color: white;
      font-size: 15px;
      border: green 2px solid;
      border-radius: 10px;
      background-color: green;
      padding: 7px;
      margin-left: 80%;
    }
  }

}

.addquestion{
  color: white;
  font-size: 20px;
  border: green 2px solid;
  border-radius: 10px;
  background-color: green;
  padding: 5px;

}

.addquestion:hover{
  color: green;
  font-size: 20px;
  border: green 2px solid;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
}