@import "home";
@import "login";
@import "addquestion";
@import "detail";


body{
  margin: 0;
  background-color: #eff3f6;
  font-family: 'Source Sans Pro', sans-serif;
}

header{
  background-color: #166dad;
  padding: 5px;
  text-align: right;
 a{
   margin: 5px;
   padding-right: 10px;
   font-size: 18px;
   color: white;
  }
  :hover{
    color: lightgray;
  }
  h1{
    text-align: center;
    :hover{
      color: black;
    }
  }
  .title{
    color: black;
    font-size: 30px;
  }
}

input{
  width: 100%;
  margin-bottom: 10px;
  background-color: $gris;
  border: none;
  padding: 10px;
}

textarea{
  width: 100%;
  margin-bottom: 10px;
  background-color: $gris;
  border: none;
  padding: 10px;
}

button{
  width: 100%;
  padding: 10px;
  background-color: #25b10e;
  color: white;
  border: none;
  border-radius: 5px;

}

button:hover{
  width: 100%;
  padding: 10px;
  background-color: #1e970b;
  color: white;
  border: none;
  border-radius: 5px;
}


button:active{
  width: 100%;
  padding: 10px;
  background-color: #19760a;
  color: white;
  border: none;
  border-radius: 5px;
}


.addquestion {
  color: white;
  font-size: 20px;
  border: #25b10e 2px solid;
  border-radius: 10px;
  background-color: #25b10e;
  padding: 5px;

}

.addquestion:hover {
  color: white;
  font-size: 20px;
  border: #1e970b 2px solid;
  border-radius: 10px;
  background-color: #1e970b;
  padding: 5px;
}

.addquestion:active {
  color: white;
  font-size: 20px;
  border: #19760a 2px solid;
  border-radius: 10px;
  background-color: #19760a;
  padding: 5px;
}